
.profile-navbar-col1 {
    width: 70px;
    margin-right: 10px;
    float: left;
    height: 100%;
     /* border : solid ;  */
} 

/* .profile-navbar-col2 {
    width: 0px;
    margin-right: 10px;
    float: left;
    height: 100%;
     /* border : solid ;  */
 /* }  */ 

/* .profile-navbar-col3 {
    width: 160px;
    float: left;
    height: 50%;
    position: absolute;
    border : solid ;
} */

